@using Doan1.Ulitities;
@model Doan1.Models.Book
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới sản phẩm</h2>
    </div>
    <!-- Begin Form -->
    <form asp-action="Create" method="post">
        <div class="form-row">

            <div class="row mb-3">
                <label asp-for="BookCategoryID">Chọn thể loại</label>
                <select asp-for="BookCategoryID" class="form-control"
                        asp-items="@(new SelectList (ViewBag.mnList, "Value", "Text"))">
                </select>
                <span asp-validation-for="BookCategoryID" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tên sách</label>
                <div class="col-sm-10">
                    <input asp-for="BookName" type="text" class="form-control" placeholder="Nhập">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Đường dẫn</label>
                <div class="col-sm-10">
                    <input asp-for="Alias" type="text" class="form-control" placeholder="Nhập">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Thông tin sách</label>
                <div class="col-sm-10">
                    <input asp-for="Abstract" type="text" class="form-control" placeholder="Nhập">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Image" type="text" id="file_input" aria-describedby="button-addon2" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Giá sách</label>
                <div class="col-sm-10">
                    <input asp-for="Price" type="text" class="form-control" placeholder="Nhập">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tình trạng </label>
                <div class="col-sm-10">
                    <input asp-for="IsNew" type="text" class="form-control" value="True">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Sale </label>
                <div class="col-sm-10">
                    <input asp-for="IsSale" type="hidden" class="form-control" value="False">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">BestSeller </label>
                <div class="col-sm-10">
                    <input asp-for="IsBestSeller" type="hidden" class="form-control" value="False">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ngày thêm </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="CreatedDate" value="@Functions.getCurrentDate()" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Người thêm</label>
                <div class="col-sm-10">
                    <input asp-for="CreatedBy" type="text" class="form-control" placeholder="Nhập">
                </div>
            </div>
            <div class="form-group at-3 mb-5">
                <label>
                    @Html.CheckBox("IsActive", false)
                    Hiển thị
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button> <a asp-controller="Book" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>

    </form>
    <!-- End Form -->

</main>



@{
    var summerNote = new Doan1.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote"/>
}