@model Doan1.Models.Menu
@using Doan1.Ulitities
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận thể loại</h2>
    </div>

    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Sửa menu</h2>
        </div>

        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>

            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="MenuID" type="hidden">
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Text</label>
                <div class="col-sm-10">
                    <input asp-for="MenuName" type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Alias</label>
                <div class="col-sm-10">
                    <input asp-for="Alias" type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10">
                    <input asp-for="Description" type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Levels</label>
                <div class="col-sm-10">
                    <input asp-for="Levels" type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Thứ tự </label>
                <div class="col-sm-10">
                    <input asp-for="ParentID" type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Vị trí</label>
                <div class="col-sm-10">
                    <input asp-for="Position" type="number" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ngày thêm</label>
                <div class="col-sm-10">
                    <input asp-for="CreatedDate" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Người thêm</label>
                <div class="col-sm-10">
                    <input asp-for="CreatedBy" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ngày sửa </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="ModifiedDate" value="@Functions.getCurrentDate()" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Người sửa</label>
                <div class="col-sm-10">
                    <input asp-for="ModifiedBy" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group at-3 mb-5">
                <label>
                    @Html.CheckBox("IsActive", Model.IsActive)
                    Hiển thị
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button> <a asp-controller="Menu" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>
    </div>
</main>
